{% extends 'base.html.twig' %}

{% block content %}

	<div class="page-header">
		<h2><a href="/group/{{ groupbean.id }}">{{ groupbean.name }}</a></h2>
	</div>

	<h3>Add venue</h3>


	{% if error is not empty %}
		<div class="well messages error">{{ error }}</div>
  {% endif %}

	<form id="venue-edit" action="" method="post" accept-charset="UTF-8">
		<div class="form-group">
      <label for="edit-vname" class="control-label">Name</label>
      <input type="textfield" id="edit-vname" name="vname" value="" size="15" maxlength="60" class="form-control required">
    </div>
    <div class="form-group">
      <label for="edit-vaddress" class="control-label">Address</label>
      <input type="textfield" id="edit-vaddress" name="vaddress" value="" size="15" maxlength="60" class="form-control required">
    </div>
    <div class="form-group">
      <label for="edit-vpostcode" class="control-label">Postcode</label>
      <input type="textfield" id="edit-vpostcode" name="vpostcode" value="" size="15" maxlength="60" class="form-control required">
    </div>
    <div class="form-group">
      <label for="edit-vtown" class="control-label">Town</label>
      <input type="textfield" id="edit-vtown" name="vtown" value="{{ venuebean.town }}" size="15" maxlength="60" class="form-control required">
    </div>
    <div class="form-group">
      <label for="edit-vcounty" class="control-label">County</label>
      <input type="textfield" id="edit-vcounty" name="vcounty" value="{{ venuebean.county }}" size="15" maxlength="60" class="form-control required">
    </div>
    <div class="form-group">
      <label for="edit-vcountry" class="control-label">Country</label>
      <input type="textfield" id="edit-vcountry" name="vcountry" value="{{ venuebean.country }}" size="15" maxlength="60" class="form-control required">
    </div>
    <div class="form-group">
      <label for="edit-vphone" class="control-label">Phone</label>
      <input type="textfield" id="edit-vphone" name="vphone" value="{{ venuebean.phone }}" size="15" maxlength="60" class="form-control required">
    </div>
    <div class="form-group">
      <label for="edit-vurl" class="control-label">URL</label>
      <input type="textfield" id="edit-vurl" name="vurl" value="{{ venuebean.url }}" size="15" maxlength="60" class="form-control required">
    </div>
    <div class="form-group clearfix" id="edit-actions">
    	<input type="submit" id="edit-submit" name="op" value="Save" class="btn btn-default pull-right">
    </div>
	</form>
{% endblock %}