{% extends 'base.html.twig' %}

{% block content %}
	<div class="page-header">
		<h2>{{ groupbean.name }}{% if owner %} <small> - <a href="/group/{{groupbean.id}}/edit">edit</a></small>{% endif %}</h2>
	</div>

	{% if venues is not empty %}
		<ul>
			{% for venue in venues %}
				<li><a href="/venue/{{ venue.id }}">{{ venue.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
	{% endif %}
	<br>
	{% if owner %}
		<a href="/group/{{groupbean.id}}/venue/add">Add venues</a>
	{% endif %}

	<!-- maybe show people in group here at some point? -->
{% endblock %}