{% extends 'base.html.twig' %}

{% block content %}
	<div class="page-header">
		<h2>Info<small> - <a href="/user/edit">edit</a></small></h2>
	</div>
	<p>{{ userbean.fname }}</p>
	<p>{{ userbean.email }}</p>
	<div class="page-header">
		<h2>Groups<small> - <a href="/user/join/group">join</a></small></h2>
	</div>
	<ol>
		<li>{{groupbean.name}} (owner) - <a href="/group/{{groupbean.id}}/manage">manage</a> - <a href="/group/{{groupbean.id}}/leave">leave</a></li>
	</ol>
{% endblock %}
