{% extends 'base.html.twig' %}

{% block content %}
	<div class="page-header">
		<h2>Info<small> - <a href="/user/edit">edit</a></small></h2>
	</div>
	<p>{{ userbean.fname }}</p>
	<p>{{ userbean.email }}</p>
	<div class="page-header">
		<h2>Groups <!-- <small> - <a href="/group/join">join</a></small>--> </h2>
	</div>
	{% if groupbean is not empty %}
		<ol>
			<li>{{groupbean.name}} 
			{% if owner %}
				{# do i need this link here? not really difference between managing and viewing the group #}
				(owner)- <a href="/group/{{groupbean.id}}">manage</a> 
			{% endif %}
			- <a href="/group/{{groupbean.id}}/leave">leave</a></li>
		</ol>
	{% else %}
		<a href="/group/join">Join</a>
		<!-- <a href="/user/create/group">Create</a> -->
	{% endif %}
	<hr>
	<a href="" class="btn btn-danger pull-right">Delete account</a>
{% endblock %}
