{% extends 'base.html.twig' %}

{% block content %}
  <div class="container-fluid">
    <div class="row venues">
    	<div class="col-xs-12 col-sm-12">
    		<div class="page-header">
    			<h2>Venues</h2>
    		</div>
	      {% for venue in venues %}
	      	<li>{{ venue.name }}<a href="vote/user1/{{ venue.id }}" class="vote">+</a></li>
	    	{% endfor %}
	    </div>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12">
    		<div class="votes">
    			<div class="page-header">
    				<h2>Today's Venue Votes</h2>
    			</div>
    			{% if total_votes != 0 %}
			      {% for venue in venues %}
			      	<div class="venue-box">
			      		{% set percentage = 200 * venue.votes / total_votes  %}
				      	<span class="venue-vote-full">
				      		<span class="venue-vote" style="height: {{ percentage }}px">
				      		</span>
				      	</span>
				      	<span class="venue-name">
				      		{{ venue.name }} ({{ venue.votes }})
				      	</span>
				      </div>
			    	{% endfor %}
			    {% else %}
			    <p>There are no votes yet!</p>
			    {% endif %}
		    </div>
	    </div>
    </div>	    
  </div>
{% endblock %}
