{% extends 'base-front.html.twig' %}

{% block content %}
		<div class="row venues">
    	<div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<!-- <div class="venues"> -->
			    {% for venue in venues %}
			    	<div class="venue">
			    		<a href="/venue/{{ venue.id }}" class="venue_name">{{ venue.name }}</a><a href="/vote/{{ venue.id }}" class="vote">+</a>
			    	</div>	    
			  	{% endfor %}
		  	<!-- </div> -->
	  	</div>
		</div>

    <div class="row">
    	<div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    		<div class="votes">
    			<div class="page-header">
    				<!-- <h2>Today's Venue Votes</h2> -->
    				<h2 class="text-center"><a href="/group/{{ groupbean.id }}">{{ groupbean.name }}</a></h2>
    			</div>
    			{% if total_votes != 0 %}
			      {% for venue in venues %}
			      	<div class="venue-box">
			      		{% set percentage = 200 * venue.votes / total_votes  %}
				      	<span class="venue-vote-full">
				      		<span class="venue-vote" style="height: {{ percentage }}px">
				      		</span>
				      	</span>
				      	<span class="venue-name">
				      		{{ venue.name }} ({{ venue.votes }})
				      	</span>
				      </div>
			    	{% endfor %}
			    {% else %}
			    <p class="text-center no-votes"><strong>There are no votes yet!</strong></p>
			    {% endif %}
		    </div>
	    </div>
    </div>

    <div class="row">
    	<div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">	
    	</div>
    </div>

{% endblock %}
